# База даних (PostgreSQL)
POSTGRES_URL="postgresql://user:password@localhost:5432/process_mapper"

# Налаштування LDAP / Active Directory (Опціонально)
# URL сервера Active Directory (обов'язково ldaps:// для безпеки)
LDAP_URL="ldaps://192.168.x.x" 

# Обліковий запис службового користувача (якщо AD забороняє анонімний пошук)
LDAP_BIND_DN="CN=LDAP_User,OU=ServiceAccounts,DC=domain,DC=ua"
LDAP_BIND_PASSWORD="super_secret_password"

# База пошуку користувачів
LDAP_BASE_DN="dc=domain,dc=ua"

# Атрибут для логіну (зазвичай userPrincipalName або sAMAccountName)
LDAP_USERNAME_ATTRIBUTE="userPrincipalName"

# Додатковий фільтр пошуку (наприклад, для обмеження доступу певною групою)
LDAP_SEARCH_FILTER=
